.cart {
  left: 3.85rem;
  transform: translateX(100vw);
  grid-template-rows: 85% 15%;
  max-width: 24.375rem;
  transition: transform 0.4s ease-in-out;
  z-index: 1;
  @apply fixed top-0 right-0 bottom-0 bg-orange-100 grid isolate;

  @screen xs {
    left: auto;
  }

  &[data-active='true'] {
    transform: translateX(0);
  }
}
