.cart {
  left: 3.85rem;
  transform: translateX(100vw);
  grid-template-rows: 85% 15%;
  max-width: 24.375rem;
  transition: transform 0.4s ease-in-out;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255 237 213);
  display: grid;
  isolation: isolate;

  @screen xs {
    left: auto;
  }

  @screen xl {
    transform: translateX(0);
    grid-template-rows: 1fr 8.125rem;
  }

  &[data-active='true'] {
    transform: translateX(0);
  }
}
