.aside {
  left: 3.85rem;
  max-width: 24.375rem;
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
  @apply fixed px-7 lg:px-11 bg-white flex flex-col gap-9 right-0 bottom-0 top-0;
}
.isActive {
  transform: translateX(0);
}
.figure {
  //width: 18.75rem;
  height: 13.68rem;
  border-radius: 25px;
  overflow: hidden;
}
.confirm {
  @apply bg-white rounded-3xl py-11 px-14;
  position: absolute;
  display: block !important;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: red;
  width: calc(508rem / 16);
  max-width: 90%;
}
