.aside {
  //left: 3.85rem;
  width: 24.375rem;
  max-width: 80%;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  @apply fixed px-7 lg:px-11 bg-white flex flex-col gap-9;
}
.isActive {
  transform: translateX(0);
}
.figure {
  //width: 18.75rem;
  height: 13.68rem;
  border-radius: 25px;
  overflow: hidden;
}
