.aside {
  left: 3.85rem;
  max-width: 24.375rem;
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
  @apply fixed px-7 lg:px-11 bg-white flex flex-col gap-9 right-0 bottom-0 top-0;
}
.isActive {
  transform: translateX(0);
}
.figure {
  //width: 18.75rem;
  height: 13.68rem;
  border-radius: 25px;
  overflow: hidden;
}
